@import "./scss/mixins";

.vc-button {
  display: inline-block;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  color: $body-color;
  text-align: center;
  white-space: $btn-white-space;

  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);

  @each $color, $value in $theme-colors {
    &--#{$color} {
      @include button-variant($value, $value);
    }
  }

  @each $color, $value in $theme-colors {
    &--outline-#{$color} {
      @include button-outline-variant($value);
    }
  }
}
